<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="FileLog" xsi:type="File" fileName="server.log" />
    <target xsi:type="ColoredConsole"
        name="ConsoleLog"
        encoding="utf-8"
        layout="${date} | ${level:uppercase=true} | ${logger} | ${message}"
        useDefaultRowHighlightingRules="true"
        enableAnsiOutput="false"
        detectConsoleAvailable="false">
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="ConsoleLog" />
    <logger name="*" minlevel="Warn" writeTo="FileLog" />
  </rules>
</nlog>